body{
    background-color: gray;
}

.face{
    display:block;
    width: 400px;
    height:400px;
    border-radius: 5%;
    position: absolute;
    top:0;
    bottom:0;
    justify-items:center ;
}

.frente{
    background-color: red;
    transform: translateZ(200px) ;
}

.direita{
    background-color:blue;
    transform: translateX(200px) rotateY(90deg);
    text-align:center;
}

.esquerda{
    background-color: green;
    transform: translateZ(0px) translateY(-200px) rotateY(90deg) rotateX(90deg);
}

.cima{
    background-color: orange ;
    transform:translateZ(0px) translateY(200px) rotateY(90deg) rotateX(90deg);
}

.baixo{
    background-color: yellow;
    transform:translateZ(0px) translateX(-200px) rotateY(-90deg);
}

.atras{
    background-color: pink;
    transform:translateZ(-200px) rotateY(180deg);
}

.cubo{
    transform-style: preserve-3d;
    width: 400px;
    height:400px;
    position: relative;
    top: 100px;
    left:100px;
    float:center;
    margin-left: 25%;
    margin-top: 2%;
    transform: rotateX(10deg) rotateY(10deg);
    
}



    @keyframes girar{
        0% {transform: rotateY(0deg) rotateX(0deg);  }
        100% {transform: rotatey(1005deg) rotateX(360deg); }
    }

#btn:checked ~ .cubo{
    animation: girar 3s infinite ;
}

h{
    font-size: 30px;
    background-color:white;
    margin-left: 20px;
   
}

#btn{
    width: 30px;
    height: 25px ;
    margin-top: 20px;
}
